{% extends 'base.html' %}

{% block title %}
{{website}}
{% endblock title %}

{% block content %}

<div class="text-center items-center text-white min-h-screen bg-base-200">
    <h1 class="mb-5 pt-10 text-3xl font-bold">
        Analytics for {{website}}
    </h1>
    <br><br>
    <div class="stats shadow border border-base-300">
        <div class="stat">
            <div id="30days" class="stat-title">Total Page Views in the last 30 days</div>
            <div class="stat-value">{{data.total_clicks.30}}</div>
        </div>
    </div>

    <div class="stats shadow">
        <div class="stat">
            <div id="7days" class="stat-title">Total Page Views in the last 7 days</div>
            <div class="stat-value">{{data.total_clicks.7}}</div>
        </div>
    </div>

    <div class="stats shadow">
        <div class="stat">
            <div id="1day" class="stat-title">Total Page Views today</div>
            <div class="stat-value">{{data.total_clicks.1}}</div>
        </div>
    </div>
    <br><br>

    <div class="card w-auto px-2 mx-2 lg:w-1/3 bg-base-100 md:absolute md:left-1/2 md:transform md:-translate-x-1/2">
        <br>
        View data for the last 30 days
        <canvas id="clickData"></canvas>
        <br>
    </div>
    <br> <br>
    <div class="card w-auto mx-2 lg:w-1/3 bg-base-100 md:absolute md:left-1/2 md:transform md:-translate-x-1/2">
        <br>
        Device share for the last 30 days
        <canvas id="deviceData"></canvas>
        <br>
    </div>
    <br> <br>
    <div class="card w-auto mx-2 lg:w-1/3 bg-base-100 md:absolute md:left-1/2 md:transform md:-translate-x-1/2">
        <br>
        Browser share for the last 30 days
        <canvas id="browserData"></canvas>
        <br>
    </div>
    <br> <br>
    <div class="card w-auto px-2 mx-2 lg:w-1/3 bg-base-100 md:absolute md:left-1/2 md:transform md:-translate-x-1/2">
        <br>
        Referrer count for the last 30 days
        <canvas id="referrerData"></canvas>
        <br>
    </div>
    <br> <br>
    <div class="card w-auto px-2 mx-2 lg:w-1/3 bg-base-100 md:absolute md:left-1/2 md:transform md:-translate-x-1/2">
        <br>
        Pages visited
        <canvas id="pageData"></canvas>
        <br>
    </div>
    <br> <br>
    <div class="card w-auto px-2 mx-2 lg:w-1/3 bg-base-100 md:absolute md:left-1/2 md:transform md:-translate-x-1/2">
        <br>
        Country of origin
        <canvas id="countryData"></canvas>
        <br>
    </div>
    <br> <br>
</div>

<script>
    var browserData = {{ browserDataChart | safe }}
    var ctx = document.getElementById("browserData").getContext('2d');
    var myChart = new Chart(ctx, browserData);

    var deviceData = {{ deviceDataChart | safe }}
    var ctx = document.getElementById("deviceData").getContext('2d');
    var myChart = new Chart(ctx, deviceData);

    var clickData = {{ clickChart | safe }}
    var ctx = document.getElementById("clickData").getContext('2d');
    var myChart = new Chart(ctx, clickData);

    var referrerData = {{ referrerChart | safe }}
    var ctx = document.getElementById("referrerData").getContext('2d');
    var myChart = new Chart(ctx, referrerData);

    var pageData = {{ pageChart | safe }}
    var ctx = document.getElementById("pageData").getContext('2d');
    var myChart = new Chart(ctx, pageData);

    var countryData = {{ countryChart | safe }}
    var ctx = document.getElementById("countryData").getContext('2d');
    var myChart = new Chart(ctx, countryData);
</script>


{% endblock content %}