{% extends 'base.html' %}

{% block title %}
LogIn | Amalytics
{% endblock title %}

{% block content %}
<div class="hero min-h-screen bg-base-200">
    <div class="text-center hero-content text-white">
        <div class="max-w-xl">
            <h1 class="mb-5 text-5xl font-bold">
                Log In
            </h1>
            <p class="mb-5 text-2xl">
            <div class="p-10 card bg-base-200">
                <form action="" method="post">
                    {{form.csrf_token}}
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Username</span>
                        </label>
                        <input name="username" type="text" placeholder="username" class="input">
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input name="password" type="password" placeholder="password" class="input">
                    </div> <br>
                    <input type="submit" value="Log In" class="btn btn-success">
                    <br> <br>
                    Don't have an account yet? <a href="/" class="link link-primary">Sign
                        Up</a>
                </form>
            </div>
            </p>
        </div>
    </div>
</div>
{% if form.username.errors %}
<ul class="errors">
    {% for error in form.name %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}