{% extends 'base.html' %}

{% block content %}
<div class="hero min-h-screen bg-base-200">
    <div class="flex-col justify-center hero-content lg:flex-row">
        <div class="text-white text-center lg:text-left">
            <h1 class="mb-5 text-6xl font-bold">
                Amalytics
            </h1>
            <p class="mb-5 text-2xl">
                A tiny analytics service powered by harperdb. Built by <a href="https://amalshaji.com"
                    class="link link-secondary" target="_blank">Amal</a> with 💖 and ☕<br><br>
                {% if current_user.is_authenticated %}
                Welcome back, {{ current_user.id }}! <br> <br>
                <a href="{{ url_for('sites.new_site') }}" class="btn btn-primary">My Sites</a>
                <a href="{{url_for('auth.logout')}}" class="btn btn-secondary">Log Out</a>
            </p>
        </div>
        {% else %}
        </p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="text-white card-body">
            <form action="{{url_for('auth.signup')}}" method="post">
                {{form.csrf_token}}
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Username</span>
                    </label>
                    <input type="text" name="username" placeholder="username" class="input input-bordered">
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" name="password" placeholder="password" class="input input-bordered">
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Confirm Password</span>
                    </label>
                    <input type="password" name="confirm" placeholder="password" class="input input-bordered">
                </div>
                <div class="form-control mt-6">
                    <input type="submit" value="Sign Up" class="btn btn-primary">
                </div>
                <br>
                Already have an account? <a href="{{url_for('auth.login')}}" class="link link-primary">Log In</a>
            </form>
        </div>
    </div>
    {% endif %}

</div>
</div>
{% endblock content %}